<!-- <router-outlet></router-outlet> -->

<!-- <ngx-doc-viewer
  url="https://docs.google.com/spreadsheets/d/1yW_T3Ns3UJqNQiYr3T5b90FzD3knUR5Aq_tobjlwT_c/edit?usp=sharing" loaded="test()" viewer="google"
  style="width:100%;height:50vh;">
</ngx-doc-viewer> -->

<div style="width: 100%; height: 100vh">
  <ng2-pdfjs-viewer #pdfViewerAutoLoad></ng2-pdfjs-viewer>
</div>
<!-- <div style="height: 600px">
  <ng2-pdfjs-viewer pdfSrc="gre_research_validity_data.pdf" viewerId="MyUniqueID" (onBeforePrint)="testBeforePrint()"
    (onAfterPrint)="testAfterPrint()" (onDocumentLoad)="testPagesLoaded($event)"
    (onPageChange)="testPageChange($event)">
  </ng2-pdfjs-viewer>
</div> -->